<div>
    <div class="calculattion-container__wrapper">
        <div style="display: flex;" *ngIf="toggle" [@flyInOut]="toggle">
            <input-number #a></input-number>
            <div class="calculattion-container__element">+</div>
            <input-number #b></input-number>
            <div class="calculattion-container__element result-button"
                 (click)="calculate(a.value, b.value)">=
            </div>
        </div>
        <div class="calculattion-container__element" *ngIf="!toggle" [@flyInOut]="!toggle" (click)="reset()"
             [ngClass]="{'success': success, 'error': !success}">{{ result }}
        </div>
    </div>

</div>
